* {
    outline: 1px dashed lightgreen;
    color: white;
}
a{
    text-decoration: none;
}
body{
    background-color: navy;
}
.wrapper {
    width: 970px;
    margin: 0px auto;
}
header {
    height: 120px;
}
    .location_links {
        height: 80px;
    }
        .links {
            height: 20px;
        }
            .links ul {
                display: inline-block;
                margin: 0px;
                margin-left: 160px;
            }
            .links li {
                display: inline-block;
                padding: 0px 20px;
            }
        .location {
            height: 60px;
        }
            .search {
                display: inline-block;
                height: 60px;
                width: 496px;
            }
                .search img {
                    display: inline-block;
                    height: 60px;
                    width: 90px;
                }
                .search form {
                    display: inline-block;
                    vertical-align: top;
                    height: 60px;
                }
                .search form input {
                    margin: 18px 0px;
                }
            .cart {
                display: inline-block;
                vertical-align: top;
                height: 60px;
                width: 470px;
            }
    .category {
        height: 40px;
    }
main {
    height: 560px;
}
footer {
    height: 120px;
}
    .info {
        display: inline-block;
        vertical-align: top;
        width: 320px;
    }
    .info img {
        display: inline-block;
        width: 80px;
        height: 80px;
    }
    .info_text {
        display: inline-block;
        vertical-align: top;
        width: 220px;
    }
    .info_text h4{
        margin-top: 0px;
    }